mixin sStrategicPartner(data)
	// start sStrategicPartner
	+b.SECTION.sStrategicPartner.section#sStrategicPartner&attributes(attributes)
		.container
			+b.section-title
				+e.row.row
					.col-lg.col-xxl-8
						.h3 #[span We&nbsp;are a&nbsp;strategic partner to&nbsp;our clients.] We&nbsp;will help you to&nbsp;ideate, design and implement your product from conception to&nbsp;iterative development support, always taking the initiative and working proactively
					.col-auto.ms-lg-auto
						+e.headline Capabilities
			+e.row.row
				.col-lg-6.ms-auto
	// end sStrategicPartner