// start .sStrategicPartner
.sStrategicPartner {
	--sPT: #{rem(52)};
	--sPB: #{rem(46)};
	--sTPB: #{rem(21)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(140)};
		--sPB: #{rem(140)};
		--sTPB: #{rem(114)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

		min-height: rem(350);
		position: relative;
	}
	.section-title{
		&__row{
			// --bs-gutter-x: #{rem()};
			--bs-gutter-y: #{rem(36)};
		}
		.h3 {
			margin-bottom: 0;
			color: $gray-500;
			line-height: 1.25;
			span {
				color: #fff;
			}
		}
		&__headline {
			font-size: rem(14);
			line-height: 1.25;
			color: $gray-500;
			@include media-breakpoint-up(lg) {
				font-size: rem(16);
				text-align: right;
			}
		}
	}
	.dd-group {
		&__item {
			&:hover {
				.img {
					opacity: 1;
				}
			}
		}
		&__item {
			border-bottom: 1px solid $gray-700;
			&.active {
				.dd-group__plus {
					width: rem(30);
					transform: translateY(-50%) rotateZ(45deg);
				}
				// .img {
				// 	opacity: 1;
				// }
			}
		}
		&__head {
			position: relative;
			padding: rem(23) rem(60) rem(23) 0;
			&:hover {
				span {
					transform: translateX(rem(20));
				}
				.dd-group__plus {
					width: rem(30);
					background-color: $primary;
				}
				&:before {
					opacity: 1;
				}
				// & ~ .img {
				// 	opacity: 1;
				// }
			}
			span {
				display: block;
				@include mt;
				font-size: rem(18);
				@include media-breakpoint-up(lg) {
					font-size: rem(20);
				}
			}
			&:before {
				@include mt;
				content: '';
				position: absolute;
				display: block;
				left: rem(3);
				top: 50%;
				transform: translateY(-50%);
				width: rem(4);
				height: rem(4);
				border-radius: 50%;
				background-color: $primary;
				opacity: 0;
			}
		}
		&__content {
			padding-bottom: rem(23);
		}
		&__plus {
			@include mt;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			width: rem(60);
			padding: rem(9);
			border-radius: 60px;
			background-color: $gray-700;
			.icon {
				font-size: rem(12);
			}
		}
		.img {
			@include mt;
			display: none;
			position: absolute;
			width: 100%;
			max-width: rem(237);
			left: 0;
			bottom: 0;
			opacity: 0;
			@include media-breakpoint-up(lg) {
				display: block;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sStrategicPartner