// start .sStrategicPartner
.sStrategicPartner {
	--sPT: #{rem(52)};
	--sPB: #{rem(46)};
	--sTPB: #{rem(21)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(140)};
		--sPB: #{rem(140)};
		--sTPB: #{rem(114)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		&__row{
			// --bs-gutter-x: #{rem()};
			--bs-gutter-y: #{rem(36)};
		}
		.h3 {
			margin-bottom: 0;
			color: $gray-500;
			line-height: 1.25;
			span {
				color: #fff;
			}
		}
		&__headline {
			font-size: rem(14);
			line-height: 1.25;
			color: $gray-500;
			@include media-breakpoint-up(lg) {
				font-size: rem(16);
				text-align: right;
			}
		}
	}
	&__col{
		
	}
	&__item{
		// edits in test commit
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sStrategicPartner