mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			//- +e.row(data-aos="fade-up")
			//- 	.row
			//- 		.col-lg
			//- 			+b.section-title 
			//- 				span Contact Us
			//- 				h2 Let&rsquo;s talk #[+img('img/title-img-3.png')] about a&nbsp;project, collaboration or&nbsp;an&nbsp;idea you may have
			//- 		.col-auto.ms-auto
			//- 			+e.wrap
			//- 				+e.link(href='mailto:info@pera.global') info@pera.global
			//- 				+e.link(href='#') Whatsapp
			//- 				+e.link(href='#') Telegram
			+e.swiper--js(href='#' data-aos="fade-up")
				+e.circle Drop us<br>a line
				.splide
					.splide__track
						.splide__list
							+e.swiper-slide.splide__slide pera global
	// end sContact