mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+e.row(data-aos="fade-up")
				.row
					.col-lg
						+b.section-title 
							span Contact Us
							h2 Let&rsquo;s talk
								+e.img-wrap: +img('img/title-img-3.jpg', 'bg') 
								| 
								| about a&nbsp;project, collaboration or&nbsp;an&nbsp;idea you may have
					.col-auto.ms-auto
						+e.wrap
							+e.link(href='mailto:hello@quasabra.com') hello@quasabra.com
							+e.link(href='https://wa.me/79168245247' target='_blank') Whatsapp
							+e.link(href='https://t.me/ASMisun' target='_blank') Telegram
			+e.swiper--js(href='/contact.html' data-aos="fade-up")
				+e.circle Drop us<br>a line
				.splide
					.splide__track
						.splide__list
							+e.swiper-slide.splide__slide  QUASABRA&nbsp;
	// end sContact