mixin sContactBody(data)
	// start sContactBody
	+b.SECTION.sContactBody.section#sContactBody&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-lg-6.d-none.d-lg-block.sticky-wrap
					.sticky-content
						+e.UL.nav
							li: a.active(href="#contacts") Your contacts 
							li: a(href="#inputs") Services
							li: a(href="#price") Budget
							li: a(href="#text") Tell about your task
				.col-lg-6
					+b.form-wrap.hrefs-js
						+e.wrap#contacts
							+e.title Your contacts
							+input('Name *', 'text')(required).is-invalid
							+input('Company', 'text')
							+input('Number phone', 'tel')
							+input('Email *', 'email')(required)
						+e.wrap--inputs#inputs
							+e.title Services
							+e.services-wrap
								+in-c('checkbox', 'Websites', 'type').custom-input--type
								+in-c('checkbox', 'Clients for business', 'type').custom-input--type
								+in-c('checkbox', 'Design', 'type').custom-input--type
								+in-c('checkbox', 'Digital', 'type').custom-input--type
								+in-c('checkbox', 'Promotion', 'type').custom-input--type
								+in-c('checkbox', 'Sales', 'type').custom-input--type
						+e.wrap#price
							+e.title Budget
							+e.input-row.row
								+e.col.col-6: +in-c('radio', '< 5 000 $', 'type')
								+e.col.col-6: +in-c('radio', 'about 14 000 $', 'type')
								+e.col.col-6: +in-c('radio', '14 -42 000 $', 'type')
								+e.col.col-6: +in-c('radio', '55-65 000 $', 'type')
								+e.col.col-6: +in-c('radio', '>65 000 $', 'type')
								+e.col.col-6: +in-c('radio', 'Do not know', 'type')
						+e.wrap--file#text
							+e.title Tell about your task
							+input('Write the task', 'text')
							+upload-field
							+e.example(href='#') Example of a brief
						+e.wrap
							+e.btn.btn.btn-white(href='#'): span Hire Us
							+policy
	// end sContactBody