mixin sContactBody(data)
	// start sContactBody
	+b.SECTION.sContactBody.section#sContactBody&attributes(attributes)
		.container(data-aos="fade-up")
			+e.row.row
				+e.col.col-lg-6.d-none.d-lg-block.sticky-wrap
					.sticky-content
						+e.UL.nav
							li: a.active(href="#contacts") Your contacts 
							li: a(href="#inputs") Services
							li: a(href="#price") Budget
							li: a(href="#text") Tell about your task
				.col-lg-6
					+form-wrap().hrefs-js
						+e.wrap#contacts
							+e.title Your contacts
							+input('Name *', 'text','name')(required)
							+input('Company', 'text','company')
							+input('Number phone', 'tel')
							+input('Email *', 'email')(required)
						+e.wrap--inputs#inputs
							+e.title Services
							+e.services-wrap
								+in-c('checkbox', 'Websites', 'type-service[]').custom-input--type(value="Websites")
								+in-c('checkbox', 'Clients for business', 'type-service[]').custom-input--type(value="Clients")
								+in-c('checkbox', 'Design', 'type-service[]').custom-input--type(value="Design")
								+in-c('checkbox', 'Digital', 'type-service[]').custom-input--type(value="Digital")
								+in-c('checkbox', 'Promotion', 'type-service[]').custom-input--type(value="Promotion")
								+in-c('checkbox', 'Sales', 'type-service[]').custom-input--type(value="Sales")
						+e.wrap#price
							+e.title Budget
							+e.input-row.row
								+e.col.col-6: +in-c('radio', '< 5 000 $', 'price')
								+e.col.col-6: +in-c('radio', '5 000 $ - 10 000 $', 'price')
								+e.col.col-6: +in-c('radio', '10 000 $ - 20 000 $', 'price')
								+e.col.col-6: +in-c('radio', '20 000 $ - 30 000 $', 'price')
								+e.col.col-6: +in-c('radio', '> 50 000 $', 'price')
								+e.col.col-6: +in-c('radio', 'To be discussed', 'price')
						+e.wrap--file#text
							+e.title Tell about your task
							+input('Write the task', 'text','task-text')
							+upload-field
							+e.example(href='#') Example of a brief
						+e.wrap
							+e.btn.btn.btn-white(type='submit' ): span Hire Us
							+policy
	// end sContactBody