mixin sOurwork(data)
	// start sOurwork
	+b.sOurwork.section#sOurwork&attributes(attributes)
		.container
			mixin item(img, text)
				+e.item(href='#')#sOurwork&attributes(attributes)
					+img(`img/${img}`, 'bg')
					span!=text
			+e.row.row
				+e.col.col-sm-6: +item('sOurwork-img-1.png', 'MIGFLAT')
				+e.col.col-sm-6: +item('sOurwork-img-2.png', 'Obnulenie dolgov')
				+e.col.col-sm-6: +item('sOurwork-img-3.png', 'Naves na zakaz')
				+e.col.col-sm-6.d-none.d-lg-flex
				+e.col.col-sm-6: +item('sOurwork-img-4.png', 'Dzanshin')
				+e.col.col-sm-6: +item('sOurwork-img-5.png', 'Asogo')
	// end sOurwork
