mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.container.container
			+e.row.row 
					h1(data-aos="fade-up") We#[+img('img/svg/titleLogo.svg')]create<br>digital products#[+img('img/title-img-2.png')] 
					p(data-aos="fade-up" data-offset='100') Specialized in&nbsp;UX/UI Design, Development, Promotion and Sales
			+e.footer-row.row(data-aos="fade-up")
				.col-auto: span Our work
				.col-auto.d-none.d-lg-block: +e.scroll(href='#') Scroll
				.col-auto.d-none.d-lg-block: +e.email(href='mailto:hello@quasabra.com') hello@quasabra.com
	// end headerBlock