mixin sContactHead(data)
	// start sContactHead
	+b.SECTION.sContactHead.section#sContactHead&attributes(attributes)
		.container
			+e.row.row(data-aos="fade-up")
				.col-lg-8
					h1 LET&rsquo;S WORK TOGETHER
				.col-lg-4
					span How about ping us?
					+e.email.h4(href='mailto:info@pera.global') info@pera.global
					+e.inner-row
						.row
							.col-6: a(href='#') Behance
							.col-6: a(href='#') Whatsapp
							.col-6: a(href='#') Dprofile
							.col-6: a(href='#') Telegram
							.col-6: a(href='#') Awwwards
							.col-6
							.col-6: a(href='#') Dribbble
	// end sContactHead