extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug

include ../blocks/sOurwork/_sOurwork.pug
include ../blocks/sStrategicPartner/_sStrategicPartner.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sAboutBlock/_sAboutBlock.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= "Home"
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +parts('header')
	main
		+headerBlock
		+sOurwork
		+sStrategicPartner
		+sReviews
		+sAboutBlock
		+sContact
	+parts('footer')
      



