extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
//- include ../blocks/sContactHead/_sContactHead.pug
//- include ../blocks/sContactBody/_sContactBody.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= "Thanks"
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +parts('header')
	main
		//- +sContactHead
		+page-head-with-links('Thanks', 'Thank you<br>for ping&nbsp;us', true)
		//- +sContactBody
	+parts('footer')
      



