 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(32);
}

.upload-field {
	display: flex;
	align-items: center;
	&__btn {
		display: flex;
		align-items: center;
		cursor: pointer;
		&:hover {
			&::before {
				background-color: $orange;
			}
		}
		&:before {
			@include mt;
			content: '';
			width: rem(24);
			height: rem(24);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0H6.5V12H5.5V0Z' fill='white'/%3E%3Cpath d='M12 5.5V6.5L0 6.5L4.37115e-08 5.5L12 5.5Z' fill='white'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: rem(12);
			background-position: center;
			flex: 0 0 auto;
			margin-right: rem(10);
			background-color: $gray-700;
			@include media-breakpoint-up(lg) {
				width: rem(30);
				height: rem(30);
			}
		}
		span {
			font-size: rem(18);
			@include media-breakpoint-up(lg) {
				font-size: rem(20);
			}
		}
	}
	&__file-name  {
		font-size: rem(18);
		margin-left: rem(8);
		@include media-breakpoint-up(lg) {
			font-size: rem(20);
		}
	}
}
.input-upload {
	display: none;
}

.page-head-with-links {
	--sPT: #{rem(56)};
	--sPB: #{rem(108)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(100)};
		--sPB: #{rem(140)};
	}
	&__row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(36)};
		// align-items: center;
	}
	h1 {
		margin-bottom: 0;
		text-transform: uppercase;
		line-height: 1.15;
		@include media-breakpoint-up(lg) {
			font-size: rem(105);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(120);
		}
	}
	a {
		max-width: max-content;
	}
	&__email {
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
			font-size: rem(30);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(36);
		}
	}
	&__inner-row {
		max-width: rem(180);
		@include media-breakpoint-up(lg) {
			max-width: rem(205);
		}
		.row {
			// --bs-gutter-x: #{rem()};
			--bs-gutter-y: #{rem(10)};
		}
	}
	span {
		display: block;
		font-size: rem(14);
		line-height: 1.4;
		margin-bottom: rem(20);
		color: $gray-500;
	}
	&__footer {
		font-size: rem(18);
		line-height: 1.2;
		margin-top: rem(36);
		margin-bottom: rem(36);
		max-width: rem(365);
		@include media-breakpoint-up(lg) {
			font-size: rem(20);
			margin-top: rem(40);
			margin-bottom: rem(40);
		}
	}
	&__btn {
		--bs-btn-padding-x: #{rem(20)};
    --bs-btn-padding-y: #{rem(12)};
		--bs-btn-font-size: #{rem(18)};
		--bs-btn-line-height: 1.2;
		--bs-btn-border-radius: #{rem(60)};

		--bs-btn-color: #fff;
    --bs-btn-border-color: rgba(255, 255, 255, 0.20);
    
		--bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #{$primary};

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #{$primary};
    --bs-btn-active-border-color: #{$primary};

		display: block;
		width: 100%;
		max-width: rem(180) !important;
		@include media-breakpoint-up(lg) {
			--bs-btn-padding-y: #{rem(17)};
			--bs-btn-font-size: #{rem(20)};
			max-width: rem(200) !important;
		}
		&:after {
			content: unset;
		}
	}
}